<div id="filler">
  <div id="blueTag">
    <h1>Benieuwd naar hoe goed u slaapt?</h1>
    <div class="image-frame">
      <img align="right" src="assets/Slaap.png">
    </div>
  </div>
  <div id="buttonTags">
    <div class="row" style="padding-top: 5%">
      <div class="col-6 offset-6">
        <p>Meer info?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="button-wrapper">
          <button routerLink="/register" type="button" class="btn btn-info">Test hier</button>
        </div>
      </div>
      <div class="col-6">
        <div class="button-wrapper">
          <button onclick="location.href='http://www.google.com'" type="button" class="btn btn-info">
            <i class="material-icons">search</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

